{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ], "stage-0", "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-assign",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
