html, body, .transmission {
  height: 100%;
}

body {
  overflow: hidden;
}

.transmission {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  position: relative;
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
