.search {
  width: 100%;
  background-color: #263238;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 0;
  padding: 0 0.25rem;
  position: relative;
  input {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    color: #FAFAFA;
    outline: none;
    width: 100%;
    padding: 0.5rem 2rem;
    font-family: inherit;
  }
  .searchIcon, .clearIcon {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%) !important;
  }
  .clearIcon {
    right: 0;
  }
  svg {
    font-size: 1.1rem;
    color: #BDBDBD !important;
  }
  &.focused .searchIcon {
    color: #29B6F6 !important;
  }
}
